* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 30%;
    max-width: 500px;
    height: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.new-reg-button, .attendence-record {
    width: 70%;
    height: 3.5rem;
    background-color: #1E3651;
    color: white;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.new-reg-button:hover, .attendence-record:hover {
    background-color: #16304A;
    transform: scale(1.05);
}