* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1.5rem;
}

.login-container {
    width: 25%;
    max-width: 400px;
    background-color: #fff;
    padding: 45px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.attendence-button {
    width: 15rem;
    height: 3.5rem;
    background-color: #1E3651;
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.attendence-button:hover {
    background-color: #16304A;
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #000;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #000;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    background-color: #1E3651;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #16304A;
}