*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(148, 178, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1.5rem;
}

.login-container {
    width: 20%;
    height: 60%;
    background-color: rgb(145, 141, 141);
    padding: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}
.attendence-button{
    width: 15rem;
    height: 3.5rem;
    background-color: rgb(30, 54, 81);
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
}

.login-container h2 {
    margin-bottom: 40px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    background-color: #040404;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.button-container button:hover {
    background-color: #454242;
    
}