* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1.5rem;
}

.content-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.register-student-box, .Capture-student-face {
    flex: 1;
    margin: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.register-student-box h1, .Capture-student-face h1 {
    margin-bottom: 20px;
    color: #1E3651;
}

.register-student-box input[type="text"], .submit-student-details input[type="submit"], .Capture-face-buttons button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.register-student-box input[type="text"] {
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.register-student-box input[type="text"]:focus {
    border-color: #1E3651;
    outline: none;
}

.submit-student-details input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #1E3651;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-student-details input[type="submit"]:hover {
    background-color: #16304A;
    transform: scale(1.05);
}

.Capture-student-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Capture-face-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Capture-face-buttons button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #1E3651;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Capture-face-buttons button:hover {
    background-color: #16304A;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}